In [4]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import time
import pandas as pd

In [3]:
pip install selenium

Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\kikik\anaconda33\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Note: you may need to restart the kernel to use updated packages.

In [68]:
driver = webdriver.Chrome(executable_path=r'C:/Users/kikik/capstone/chromedriver.exe', options=options)

In [69]:
driver.set_window_size(1120, 1000)

In [70]:
url = 'https://www.glassdoor.com/Overview/Working-at-Amazon-EI_IE6036.11,17.htm'

In [153]:
weblinks= pd.read_csv('glassdoor_company_links.txt',sep=';', header=None)

In [155]:
weblinks[0][1] #company is at 0

'Amazon'

In [156]:
weblinks[1][1] #link is at 1

'https://www.glassdoor.com/Overview/Working-at-Amazon-EI_IE6036.11,17.htm'

In [285]:
def get_rev_num(url,comp):
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(executable_path=r'C:/Users/kikik/capstone/chromedriver.exe', options=options)
    driver.get(url)
    num_reviews = driver.find_element_by_xpath('.//div[@class="row "]').text
    #\W+\w+(.*?)\w+
#     a = re.search(r'Overview\W+(.*?)\w+',num_reviews).group(1)
    a = re.search(r'Overview\W+(.*?\W+.*?\w+)',num_reviews).group(1)
    a= re.sub('\n', '', a)
    a=re.sub('Reviews','',a)
#     reviews[comp]=a
    return (comp,a)

In [289]:
import time
dictionary={}

i=0
while i  < (len(weblinks)):  
    time.sleep(.2)
    key,link=(get_rev_num(weblinks[1][i],weblinks[0][i]))
    dictionary[key]=link
    i+=1

In [145]:
df=get_rev_num('https://www.glassdoor.com/Overview/Working-at-Amazon-EI_IE6036.11,17.htm', 'Amazon')

In [108]:
num_reviews

'Overview\n65k\nReviews\n39k\nJobs\n122k\nSalaries\n29k\nInter\xadviews\n15k\nBenefits\n672\nPhotos'

In [135]:
import re
a = re.search(r'Overview\W+(.*?)\W+',num_reviews).group(1)
#(r'Part 1\.(.*?)Part 3'

In [136]:
a

'65k'

start cleaning here

In [661]:
df=pd.read_csv('dict2.txt' ,sep=':', header=None)

In [648]:
df

                                 0         1
0                       {'Walmart'    '63k',
1                         'Amazon'    '65k',
2                    'Exxon Mobil'   '5.1k',
3                          'Apple'    '21k',
4                     'CVS Health'    '21k',
...                            ...       ...
1001            'Mr. Cooper Group'    '510',
1002               'Herc Holdings'    '210',
1003       'Healthpeak Properties'     '28',
1004                    'SPX FLOW'    '175',
1005   'Liberty Oilfield Services'     '77'}

[1006 rows x 2 columns]

In [662]:
df.replace(r"{", '', regex=True, inplace=True)

In [663]:
df.replace(r"}", '', regex=True, inplace=True)

In [664]:
df.replace(r",", '', regex=True, inplace=True)

In [436]:
#replace outer ''

In [653]:
df.head(34)

                              0        1
0                     'Walmart'    '63k'
1                      'Amazon'    '65k'
2                 'Exxon Mobil'   '5.1k'
3                       'Apple'    '21k'
4                  'CVS Health'    '21k'
5          'Berkshire Hathaway'    '709'
6          'UnitedHealth Group'    '12k'
7                    'McKesson'   '3.7k'
8                        'AT&T'    '27k'
9           'AmerisourceBergen'   '1.2k'
10                   'Alphabet'     '43'
11                 'Ford Motor'   '6.6k'
12                      'Cigna'   '3.1k'
13           'Costco Wholesale'   '8.2k'
14                    'Chevron'   '3.8k'
15            'Cardinal Health'   '2.6k'
16             'JPMorgan Chase'    '25k'
17             'General Motors'   '7.1k'
18   'Walgreens Boots Alliance'    '758'
19     'Verizon Communications'    '23k'
20                  'Microsoft'    '30k'
21         'Marathon Petroleum'    '832'
22                     'Kroger'    '12k'
23                 'Fannie Mae'   '1.6k'
24            'Bank of America'    '26k'
25                 'Home Depot'    '27k'
26                'Phillips 66'    '643'
27                    'Comcast'    '11k'
28                     'Anthem'   '2.6k'
29                'Wells Fargo'    '29k'
30              'Valero Energy'    '527'
31           'General Electric'    '13k'
32          'Dell Technologies'    '19k'
33          'Johnson & Johnson'   '8.5k'

In [475]:
# df.replace("(\')", '', regex=True, inplace=True)

In [665]:
df[1].replace(r"\'", '', regex=True, inplace=True)

In [666]:
df[1].replace(r"k", '000', regex=True, inplace=True)

In [667]:
df[1].replace(r"\.", ',', regex=True, inplace=True)

In [639]:
# df[1]=df[1].replace("(\')($)", "", regex=True, inplace=True)

In [668]:
df[1]

0         63000
1         65000
2        5,1000
3         21000
4         21000
         ...
1001        510
1002        210
1003         28
1004        175
1005         77
Name: 1, Length: 1006, dtype: object

In [669]:
df1=df[1].to_list()

In [706]:
newcol=[]
for number in df1:
#     print(number[:-1])
    if ',' in number:
        #print('yes')
        #revcount = 'no'#number[6:-1]
        newcol.append(number[:-1])
    else:
        newcol.append(number)
newcol

[' 63000',
 ' 65000',
 ' 5,100',
 ' 21000',
 ' 21000',
 ' 709',
 ' 12000',
 ' 3,700',
 ' 27000',
 ' 1,200',
 ' 43',
 ' 6,600',
 ' 3,100',
 ' 8,200',
 ' 3,800',
 ' 2,600',
 ' 25000',
 ' 7,100',
 ' 758',
 ' 23000',
 ' 30000',
 ' 832',
 ' 12000',
 ' 1,600',
 ' 26000',
 ' 27000',
 ' 643',
 ' 11000',
 ' 2,600',
 ' 29000',
 ' 527',
 ' 13000',
 ' 19000',
 ' 8,500',
 ' 11000',
 ' 43000',
 ' 65000',
 ' 4,800',
 ' 9,900',
 ' 1,200',
 ' 2,000',
 ' 18000',
 ' 24000',
 ' 18000',
 ' 6,200',
 ' 4,500',
 ' 7,500',
 ' 9,600',
 ' 11000',
 ' 4,100',
 ' 3,400',
 ' 1,500',
 ' 2,000',
 ' 2,300',
 ' 8,000',
 ' 4,800',
 ' 333',
 ' 9,200',
 ' 10000',
 ' 4,900',
 ' 22000',
 ' 5,000',
 ' 41',
 ' 5,400',
 ' 9,600',
 ' 3,800',
 ' 4,300',
 ' 4,000',
 ' 7,300',
 ' 6,300',
 ' 3,500',
 ' 3,700',
 ' 24000',
 ' 4,000',
 ' 5,700',
 ' 2,700',
 ' 1,400',
 ' 2,700',
 ' --Jobs',
 ' 31000',
 ' 596',
 ' 2',
 ' 7,300',
 ' 3,200',
 ' 8,700',
 ' 5,500',
 ' 1,700',
 ' 1,100',
 ' 330',
 ' 12000',
 ' 1,200',
 ' 3,700',
 ' 848',
 ' 6,600',
 ' 9,300',
 ' 182',
 ' 1,900',
 ' 8',
 ' 276',
 ' 6,800',
 ' 4,000',
 ' 5,000',
 ' 1',
 ' 3,300',
 ' 2,500',
 ' 4,800',
 ' 12000',
 ' 1,500',
 ' 2,400',
 ' 7,700',
 ' 6,400',
 ' 34000',
 ' 2,400',
 ' 1,700',
 ' 4,000',
 ' 622',
 ' 4,600',
 ' 21000',
 ' 1,700',
 ' 4,300',
 ' 1,200',
 ' 4,200',
 ' 101',
 ' 6,800',
 ' 53',
 ' 5,500',
 ' 2,100',
 ' 341',
 ' 4,500',
 ' 4,800',
 ' 1,400',
 ' 2,900',
 ' 2,600',
 ' 422',
 ' 3,700',
 ' 3,000',
 ' 298',
 ' 1,200',
 ' 2,600',
 ' 4,300',
 ' 4,800',
 ' 1,600',
 ' 2,600',
 ' 3,100',
 ' 484',
 ' 658',
 ' 1,900',
 ' 4,600',
 ' 6,000',
 ' 2,500',
 ' 668',
 ' 1,300',
 ' 12000',
 ' 49000',
 ' 10000',
 ' 1,300',
 ' 6,600',
 ' 2,300',
 ' 458',
 ' 3,700',
 ' 24',
 ' 1,300',
 ' 12000',
 ' 8',
 ' 1,000',
 ' 506',
 ' 1,000',
 ' 1,100',
 ' 229',
 ' 657',
 ' 3,800',
 ' 855',
 ' 2,400',
 ' 3,900',
 ' 1,300',
 ' 2,400',
 ' 4,800',
 ' 4,900',
 ' 2,300',
 ' 4,400',
 ' 459',
 ' 109',
 ' 696',
 ' 200',
 ' 2,800',
 ' 1,200',
 ' 8,200',
 ' 2,800',
 ' 2,700',
 ' 1,400',
 ' 48000',
 ' 894',
 ' --Jobs',
 ' 490',
 ' 2,200',
 ' 6,500',
 ' 7,200',
 ' 1,200',
 ' 5,900',
 ' 2,100',
 ' 481',
 ' 16000',
 ' 3,800',
 ' 2,100',
 ' 1,900',
 ' 1,400',
 ' 8',
 ' 176',
 ' 24000',
 ' 2,800',
 ' 3,300',
 ' 2,400',
 ' 1,600',
 ' 262',
 ' 2,000',
 ' 3,100',
 ' 1,600',
 ' 723',
 ' 3,300',
 ' 1,200',
 ' 1,800',
 ' 241',
 ' 86',
 ' 16',
 ' 635',
 ' 770',
 ' 3,600',
 ' 2,400',
 ' 420',
 ' 49',
 ' 362',
 ' 114',
 ' 591',
 ' 2,300',
 ' 798',
 ' 27',
 ' 531',
 ' 1,100',
 ' 562',
 ' 1,700',
 ' 5,800',
 ' 2,100',
 ' 7',
 ' 243',
 ' 1,300',
 ' 839',
 ' 5,200',
 ' 382',
 ' 609',
 ' 1,200',
 ' 3,800',
 ' 788',
 ' 661',
 ' 184',
 ' 31',
 ' 411',
 ' 118',
 ' 40',
 ' 4,300',
 ' 340',
 ' 4,200',
 ' 928',
 ' 920',
 ' 3,400',
 ' 415',
 ' 44',
 ' 3,100',
 ' 1,100',
 ' --Jobs',
 ' 1,200',
 ' 562',
 ' 1,200',
 ' 2,500',
 ' --Jobs',
 ' 22',
 ' 631',
 ' 2,300',
 ' 1,200',
 ' 979',
 ' 5,300',
 ' 9,100',
 ' 1,400',
 ' 464',
 ' 2,100',
 ' 6,200',
 ' 49',
 ' 3,000',
 ' 268',
 ' 25',
 ' 3,800',
 ' 2,500',
 ' 11000',
 ' 494',
 ' 89',
 ' 659',
 ' 440',
 ' 1,000',
 ' 153',
 ' 826',
 ' 2,000',
 ' 4',
 ' 1,900',
 ' 242',
 ' 539',
 ' --Jobs',
 ' 4,300',
 ' 656',
 ' 142',
 ' 2,300',
 ' 1,800',
 ' 921',
 ' 9',
 ' 293',
 ' 23',
 ' 491',
 ' 505',
 ' 1,200',
 ' 894',
 ' 579',
 ' 2,300',
 ' 5,400',
 ' 159',
 ' 334',
 ' 85',
 ' 3,000',
 ' 999',
 ' 458',
 ' 379',
 ' 1,300',
 ' 193',
 ' 3,100',
 ' 369',
 ' 6,200',
 ' 727',
 ' 933',
 ' 277',
 ' 130',
 ' 1,800',
 ' 162',
 ' 2,400',
 ' 1,700',
 ' 7,500',
 ' 2,900',
 ' 194',
 ' 749',
 ' --Jobs',
 ' 1',
 ' 609',
 ' 1,500',
 ' 785',
 ' 80',
 ' 715',
 ' 530',
 ' 577',
 ' 736',
 ' 440',
 ' 5,500',
 ' 2,200',
 ' 686',
 ' 82',
 ' 1,600',
 ' 57',
 ' 629',
 ' 644',
 ' 273',
 ' 362',
 ' 1,800',
 ' 478',
 ' --Jobs',
 ' 442',
 ' 296',
 ' 525',
 ' 884',
 ' 461',
 ' 1,700',
 ' 652',
 ' 400',
 ' 22',
 ' 203',
 ' 1,000',
 ' 310',
 ' 462',
 ' 441',
 ' 1,300',
 ' 125',
 ' 96',
 ' 356',
 ' 1,800',
 ' 1,500',
 ' 2,600',
 ' 1,200',
 ' 2,300',
 ' 1,100',
 ' 1,500',
 ' 12',
 ' 9',
 ' 153',
 ' 2,600',
 ' 3',
 ' 858',
 ' 541',
 ' 553',
 ' 289',
 ' 1,400',
 ' 2,800',
 ' 1,900',
 ' 397',
 ' 261',
 ' 574',
 ' 601',
 ' 68',
 ' 251',
 ' 6,200',
 ' 473',
 ' 338',
 ' 513',
 ' 839',
 ' 3,400',
 ' 185',
 ' 437',
 ' 178',
 ' 319',
 ' 1,800',
 ' 477',
 ' 639',
 ' 809',
 ' 254',
 ' 206',
 ' 1,100',
 ' 618',
 ' 316',
 ' 2',
 ' 4,200',
 ' 2,700',
 ' 3,300',
 ' 516',
 ' 11',
 ' 23',
 ' 6,000',
 ' 2,000',
 ' 490',
 ' 2,700',
 ' 348',
 ' 5,800',
 ' 53',
 ' 1,900',
 ' 1',
 ' 504',
 ' 228',
 ' 687',
 ' 482',
 ' 76',
 ' 439',
 ' 497',
 ' 6',
 ' 1,500',
 ' 235',
 ' 5,100',
 ' 290',
 ' 2,700',
 ' 306',
 ' 5,100',
 ' 2,600',
 ' 313',
 ' 2,400',
 ' 591',
 ' 58',
 ' 1,000',
 ' 433',
 ' 1,300',
 ' 423',
 ' 3,700',
 ' 1,100',
 ' 520',
 ' 186',
 ' 8,300',
 ' 89',
 ' 474',
 ' 113',
 ' 2,000',
 ' 1,100',
 ' 334',
 ' 2,500',
 ' 307',
 ' 216',
 ' 226',
 ' 1,200',
 ' 28',
 ' 1,800',
 ' 562',
 ' 528',
 ' 5,800',
 ' 15',
 ' 1,500',
 ' 1,800',
 ' 2,800',
 ' 41',
 ' 1,100',
 ' 440',
 ' 8,300',
 ' 480',
 ' 24',
 ' 1,100',
 ' 372',
 ' 309',
 ' 762',
 ' 53',
 ' 6,200',
 ' 729',
 ' 19',
 ' 565',
 ' 25',
 ' 927',
 ' 620',
 ' 5,700',
 ' 1,000',
 ' 359',
 ' 21',
 ' 3,000',
 ' 2,000',
 ' 328',
 ' 1,500',
 ' 1,700',
 ' 555',
 ' 1,000',
 ' 235',
 ' 191',
 ' 356',
 ' 790',
 ' --Jobs',
 ' 1,600',
 ' 425',
 ' 53',
 ' 483',
 ' 27000',
 ' 60',
 ' 1,700',
 ' 4,800',
 ' 920',
 ' 4,100',
 ' 486',
 ' 167',
 ' 1,900',
 ' 2,700',
 ' 217',
 ' 285',
 ' 459',
 ' 557',
 ' 527',
 ' 51',
 ' 201',
 ' 902',
 ' 1,200',
 ' 425',
 ' 1,100',
 ' 1,000',
 ' 134',
 ' 706',
 ' 6',
 ' 28',
 ' 490',
 ' 635',
 ' 261',
 ' 1,400',
 ' 1,200',
 ' 233',
 ' 4,700',
 ' 770',
 ' 711',
 ' 617',
 ' 894',
 ' 344',
 ' 138',
 ' 75',
 ' 182',
 ' 1,500',
 ' 170',
 ' 81',
 ' 209',
 ' 129',
 ' --Jobs',
 ' 1,800',
 ' 160',
 ' 4',
 ' 264',
 ' 1,100',
 ' 796',
 ' 19',
 ' 771',
 ' 680',
 ' 482',
 ' 4,300',
 ' 2,800',
 ' 361',
 ' 397',
 ' 1,400',
 ' 1,800',
 ' 144',
 ' 1,800',
 ' 35',
 ' 382',
 ' 1,400',
 ' 5',
 ' 732',
 ' 728',
 ' 50',
 ' 709',
 ' 5,500',
 ' 908',
 ' 389',
 ' 1,600',
 ' 662',
 ' 4,100',
 ' 669',
 ' 868',
 ' 328',
 ' 833',
 ' 510',
 ' 486',
 ' 298',
 ' 493',
 ' 1,000',
 ' 392',
 ' 483',
 ' 387',
 ' 572',
 ' 201',
 ' 447',
 ' 344',
 ' 3,400',
 ' 227',
 ' 1,600',
 ' 1,900',
 ' 647',
 ' --Jobs',
 ' 3,300',
 ' 1,900',
 ' 366',
 ' 26',
 ' 1,100',
 ' 1,400',
 ' 809',
 ' 555',
 ' --Jobs',
 ' 1,800',
 ' 284',
 ' 35',
 ' 626',
 ' 739',
 ' 524',
 ' 911',
 ' 541',
 ' 548',
 ' 2,900',
 ' 425',
 ' 286',
 ' 114',
 ' 993',
 ' 187',
 ' 1,700',
 ' 1,000',
 ' 361',
 ' 384',
 ' 422',
 ' 375',
 ' 81',
 ' 221',
 ' 1,700',
 ' 186',
 ' 6,300',
 ' 7,800',
 ' 2,700',
 ' 632',
 ' 383',
 ' 202',
 ' 1,100',
 ' 87',
 ' 856',
 ' 1,200',
 ' 560',
 ' 1,400',
 ' 414',
 ' 1,500',
 ' 153',
 ' 393',
 ' 171',
 ' 34',
 ' 449',
 ' 19',
 ' 1,900',
 ' 210',
 ' 2',
 ' 32',
 ' 1,300',
 ' 1,100',
 ' 115',
 ' 669',
 ' 280',
 ' 388',
 ' 1,100',
 ' 266',
 ' 826',
 ' 168',
 ' 172',
 ' 391',
 ' 89',
 ' 16',
 ' 165',
 ' 687',
 ' 638',
 ' 97',
 ' 534',
 ' 2,100',
 ' 2,100',
 ' 263',
 ' 90',
 ' 194',
 ' 412',
 ' 292',
 ' 432',
 ' 1,300',
 ' 598',
 ' 363',
 ' 210',
 ' 8',
 ' 1,800',
 ' 2,600',
 ' 692',
 ' 105',
 ' 452',
 ' 366',
 ' 1,100',
 ' 713',
 ' 38',
 ' 350',
 ' 310',
 ' 1',
 ' 32',
 ' 2,600',
 ' 502',
 ' 601',
 ' 198',
 ' 570',
 ' 128',
 ' 1,100',
 ' 28',
 ' 113',
 ' 329',
 ' 322',
 ' 402',
 ' 804',
 ' 106',
 ' 250',
 ' --Jobs',
 ' 253',
 ' 20',
 ' 4,100',
 ' 359',
 ' 413',
 ' 240',
 ' 931',
 ' 50',
 ' 600',
 ' 423',
 ' 189',
 ' 68',
 ' 435',
 ' 3,100',
 ' 532',
 ' 359',
 ' 144',
 ' 322',
 ' 147',
 ' 168',
 ' 242',
 ' 1,700',
 ' 870',
 ' 94',
 ' 71',
 ' 35',
 ' 33',
 ' 3,400',
 ' 814',
 ' 16',
 ' 131',
 ' 637',
 ' 1',
 ' 483',
 ' 577',
 ' 195',
 ' 162',
 ' 420',
 ' 833',
 ' 193',
 ' 1,800',
 ' 2,600',
 ' 2,100',
 ' 648',
 ' 54',
 ' 85',
 ' 220',
 ' 1,300',
 ' 212',
 ' 27000',
 ' 361',
 ' 4',
 ' 201',
 ' 176',
 ' 217',
 ' 40',
 ' 1',
 ' 447',
 ' 193',
 ' 35',
 ' 5',
 ' 250',
 ' 27',
 ' 215',
 ' 137',
 ' 1,000',
 ' 159',
 ' 295',
 ' 52',
 ' 219',
 ' 607',
 ' 687',
 ' 181',
 ' 123',
 ' 275',
 ' 341',
 ' 1,600',
 ' 1,800',
 ' 81',
 ' 158',
 ' 1,100',
 ' 29',
 ' 450',
 ' 6',
 ' 62',
 ' 156',
 ' 118',
 ' 46',
 ' 713',
 ' 105',
 ' 394',
 ' 536',
 ' 457',
 ' 31',
 ' 2',
 ' 259',
 ' 782',
 ' 393',
 ' 360',
 ' 3,000',
 ' 145',
 ' 2,200',
 ' 6,000',
 ' 477',
 ' 2',
 ' 125',
 ' 44',
 ' 289',
 ' 319',
 ' 2,900',
 ' 71',
 ' 489',
 ' 49',
 ' 685',
 ' 261',
 ' 107',
 ' 55',
 ' 396',
 ' 417',
 ' 561',
 ' 752',
 ' 641',
 ' 8',
 ' 338',
 ' 327',
 ' 11',
 ' 785',
 ' 582',
 ' 183',
 ' 235',
 ' 216',
 ' 839',
 ' 443',
 ' 73',
 ' 310',
 ' 52',
 ' 757',
 ' 215',
 ' --Jobs',
 ' 1,100',
 ' 2,000',
 ' 143',
 ' 52',
 ' 1,400',
 ' 2,200',
 ' 690',
 ' 132',
 ' 1',
 ' 1,000',
 ' 520',
 ' 766',
 ' 388',
 ' 129',
 ' 274',
 ' 290',
 ' 1',
 ' 3,000',
 ' 70',
 ' 5',
 ' 274',
 ' 418',
 ' 455',
 ' 1,300',
 ' 266',
 ' 27000',
 ' 1,000',
 ' 14',
 ' 13000',
 ' 1,200',
 ' 249',
 ' 1,000',
 ' 21',
 ' 741',
 ' 407',
 ' 1,400',
 ' 196',
 ' 2',
 ' 648',
 ' 410',
 ' 98',
 ' 167',
 ' 273',
 ' 38',
 ' 816',
 ' 419',
 ' 59',
 ' 1,100',
 ' 50',
 ' 122',
 ' 95',
 ' 256',
 ' 145',
 ' 204',
 ' 185',
 ' 166',
 ' 252',
 ' 384',
 ' 195',
 ' 908',
 ' 557',
 ' 242',
 ' 9',
 ' 33',
 ' 915',
 ' 2',
 ' 28',
 ' 1,900',
 ' 130',
 ' 401',
 ' 283',
 ' 13',
 ' 1,400',
 ' 56',
 ' 709',
 ' --Jobs',
 ' 706',
 ' 1,600',
 ' 87',
 ' 235',
 ' 184',
 ' 293',
 ' 2,900',
 ' 264',
 ' 915',
 ' 2',
 ' 28',
 ' 1,900',
 ' 130',
 ' 401',
 ' 283',
 ' 13',
 ' 1,400',
 ' 56',
 ' 709',
 ' --Jobs',
 ' 706',
 ' 1,600',
 ' 87',
 ' 235',
 ' 184',
 ' 293',
 ' 2,900',
 ' 264',
 ' 3',
 ' 185',
 ' 368',
 ...]

In [ ]:
#now we can get rid of the comma

In [707]:
df[1]=newcol

In [710]:
df[1].replace(r"\,", '', regex=True, inplace=True)

In [723]:

import numpy as np
df[1] = pd.to_numeric(df[1], errors='coerce').fillna(1).astype(np.int64)

In [738]:
df

                                 0      1
0                        'Walmart'  63000
1                         'Amazon'  65000
2                    'Exxon Mobil'   5100
3                          'Apple'  21000
4                     'CVS Health'  21000
...                            ...    ...
1001            'Mr. Cooper Group'    510
1002               'Herc Holdings'    210
1003       'Healthpeak Properties'     28
1004                    'SPX FLOW'    175
1005   'Liberty Oilfield Services'     77

[1006 rows x 2 columns]

In [727]:
#now lets fix columns 0

In [739]:
df[0]

0                          'Walmart'
1                           'Amazon'
2                      'Exxon Mobil'
3                            'Apple'
4                       'CVS Health'
                    ...
1001              'Mr. Cooper Group'
1002                 'Herc Holdings'
1003         'Healthpeak Properties'
1004                      'SPX FLOW'
1005     'Liberty Oilfield Services'
Name: 0, Length: 1006, dtype: object

In [728]:
df0=df[0].to_list()

In [774]:
newcol2=[]
for number in df0:
    
    re.sub(r"^('\'')", '', number)
    newcol2.append(number[1:-1])
    
newcol2

['Walmart',
 "'Amazon",
 "'Exxon Mobil",
 "'Apple",
 "'CVS Health",
 "'Berkshire Hathaway",
 "'UnitedHealth Group",
 "'McKesson",
 "'AT&T",
 "'AmerisourceBergen",
 "'Alphabet",
 "'Ford Motor",
 "'Cigna",
 "'Costco Wholesale",
 "'Chevron",
 "'Cardinal Health",
 "'JPMorgan Chase",
 "'General Motors",
 "'Walgreens Boots Alliance",
 "'Verizon Communications",
 "'Microsoft",
 "'Marathon Petroleum",
 "'Kroger",
 "'Fannie Mae",
 "'Bank of America",
 "'Home Depot",
 "'Phillips 66",
 "'Comcast",
 "'Anthem",
 "'Wells Fargo",
 "'Valero Energy",
 "'General Electric",
 "'Dell Technologies",
 "'Johnson & Johnson",
 "'State Farm Insurance",
 "'Target",
 "'IBM",
 "'Raytheon Technologies",
 "'Boeing",
 "'Freddie Mac",
 "'Centene",
 "'UPS",
 '"Lowe\'s',
 "'Intel",
 "'FedEx",
 "'MetLife",
 "'Walt Disney",
 "'Procter & Gamble",
 "'PepsiCo",
 "'Humana",
 "'Prudential Financial (U.S.)",
 "'Archer Daniels Midland",
 "'Albertsons",
 "'Sysco",
 "'Lockheed Martin",
 "'HP",
 "'Energy Transfer",
 "'Goldman Sachs Group",
 "'Morgan Stanley",
 "'Caterpillar",
 "'Cisco Systems",
 "'Pfizer",
 "'HCA Healthcare",
 "'American International Group",
 "'American Express",
 "'Delta Air Lines",
 "'Merck",
 "'American Airlines Group",
 "'Charter Communications",
 "'Allstate",
 "'New York Life Insurance",
 "'Nationwide",
 "'Best Buy",
 "'United Airlines Holdings",
 "'Liberty Mutual Insurance Group",
 "'Dow",
 "'Tyson Foods",
 "'TJX",
 "'TIAA",
 "'Oracle",
 "'General Dynamics",
 "'Deere",
 "'Nike",
 "'Progressive",
 "'Publix Super Markets",
 "'Coca-Cola",
 "'Massachusetts Mutual Life",
 "'Tech Data",
 "'World Fuel Services",
 "'Honeywell International",
 "'ConocoPhillips",
 "'USAA",
 "'Exelon",
 "'Northrop Grumman",
 "'Capital One Financial",
 "'Plains GP Holdings",
 "'AbbVie",
 "'StoneX Group",
 "'Enterprise Products Partners",
 "'Northwestern Mutual",
 "'3M",
 "'Abbott Laboratories",
 "'CHS",
 "'Travelers Cos.",
 "'Philip Morris International",
 "'Raytheon",
 "'Hewlett Packard Enterprise",
 "'Arrow Electronics",
 "'ViacomCBS",
 "'Dollar General",
 "'U.S. Bancorp",
 "'Starbucks",
 "'Bristol-Myers Squibb",
 "'US Foods Holding",
 "'Mondelez International",
 "'Paccar",
 "'Thermo Fisher Scientific",
 '"Macy\'s',
 "'Jabil",
 "'Kraft Heinz",
 "'Duke Energy",
 "'Tesla",
 "'PBF Energy",
 "'Qualcomm",
 "'NGL Energy Partners",
 "'CBRE Group",
 "'Baker Hughes",
 "'Synnex",
 "'Dollar Tree",
 "'Cummins",
 "'United Natural Foods",
 "'Micron Technology",
 "'Amgen",
 "'Penske Automotive Group",
 "'Visa",
 "'Broadcom",
 "'Nucor",
 "'Gilead Sciences",
 "'Southwest Airlines",
 "'Halliburton",
 "'Lumen Technologies",
 "'International Paper",
 "'Eli Lilly",
 "'Aflac",
 "'Lennar",
 "'Occidental Petroleum",
 "'Union Pacific",
 "'Rite Aid",
 "'PNC Financial Services Group",
 "'DuPont",
 "'Southern Company",
 "'AutoNation",
 "'DXC Technology",
 '"McDonald\'s',
 "'Marriott International",
 "'ManpowerGroup",
 "'Bank of New York Mellon",
 "'Hartford Financial Services Group",
 "'Danaher",
 "'Whirlpool",
 "'AECOM",
 "'Netflix",
 '"Kohl\'s',
 "'Lear",
 "'Altria Group",
 "'Performance Food Group",
 "'Avnet",
 "'Synchrony Financial",
 "'Genuine Parts",
 "'NextEra Energy",
 "'CarMax",
 "'Tenet Healthcare",
 "'Kimberly-Clark",
 "'Emerson Electric",
 "'WestRock",
 "'CDW",
 "'Jones Lang LaSalle (JLL)",
 "'Sherwin-Williams",
 "'Fluor",
 "'PayPal Holdings",
 "'D.R. Horton",
 "'HollyFrontier",
 "'Tenneco",
 "'EOG Resources",
 "'BD",
 "'Lincoln National",
 "'Salesforce",
 "'Mastercard",
 "'General Mills",
 "'Molina Healthcare",
 "'Cognizant Technology Solutions",
 "'Marsh & McLennan",
 "'XPO Logistics",
 "'Dominion Energy",
 "'Western Digital",
 "'Gap",
 "'Aramark",
 "'Principal Financial",
 "'Ross Stores",
 "'Colgate-Palmolive",
 "'American Electric Power",
 "'Nordstrom",
 "'Jacobs Engineering Group",
 "'Waste Management",
 "'C.H. Robinson Worldwide",
 "'PPG Industries",
 "'Booking Holdings",
 "'Omnicom Group",
 "'Loews",
 "'Ecolab",
 "'Stryker",
 "'Estée Lauder",
 "'Goodyear Tire & Rubber",
 "'Truist Financial",
 "'Applied Materials",
 "'BlackRock",
 "'Stanley Black & Decker",
 "'Freeport-McMoRan",
 "'Texas Instruments",
 "'Biogen",
 "'Parker-Hannifin",
 "'Reinsurance Group of America",
 "'Howmet Aerospace",
 "'Automatic Data Processing",
 "'Uber Technologies",
 "'Illinois Tool Works",
 "'DaVita",
 "'Discover Financial Services",
 '"Land O\'Lakes',
 "'VF",
 "'Corteva",
 "'Las Vegas Sands",
 "'Textron",
 "'Kellogg",
 "'Guardian Life Ins. Co. of America",
 "'Qurate Retail",
 "'Core-Mark Holding",
 "'Community Health Systems",
 "'Kinder Morgan",
 '"BJ\'s Wholesale Club',
 "'State Street",
 "'Ameriprise Financial",
 "'Global Partners",
 "'L Brands",
 "'MGM Resorts International",
 "'L3Harris Technologies",
 "'DISH Network",
 "'Lithia Motors",
 "'DTE Energy",
 "'American Family Insurance Group",
 "'Farmers Insurance Exchange",
 "'Consolidated Edison",
 "'LKQ",
 "'Sempra Energy",
 "'Edison International",
 "'CenterPoint Energy",
 "'Quanta Services",
 "'Murphy USA",
 "'Expedia Group",
 "'Group 1 Automotive",
 "'Bed Bath & Beyond",
 "'Unum Group",
 "'CSX",
 "'AutoZone",
 "'Pacific Life",
 "'Vistra Energy",
 "'Charles Schwab",
 "'Ally Financial",
 "'Laboratory Corp. of America",
 "'Live Nation Entertainment",
 "'Xcel Energy",
 "'Corning",
 "'W.W. Grainger",
 "'Ball",
 "'Fox",
 "'Universal Health Services",
 "'Baxter International",
 "'Norfolk Southern",
 "'Navistar International",
 "'Adobe",
 "'J.C. Penney",
 "'Discovery",
 "'Keurig Dr Pepper",
 "'Leidos Holdings",
 "'IQVIA Holdings",
 "'Reliance Steel & Aluminum",
 "'Nvidia",
 "'Entergy",
 "'FirstEnergy",
 "'eBay",
 "'Boston Scientific",
 "'ODP",
 "'Molson Coors Beverage",
 "'Steel Dynamics",
 "'Mutual of Omaha Insurance",
 "'Sonic Automotive",
 "'Alcoa",
 "'Fidelity National Information Services",
 "'Henry Schein",
 "'Republic Services",
 "'Liberty Media",
 '"Peter Kiewit Sons\'',
 "'Interpublic Group",
 'PulteGroup',
 "'AES",
 "'Fiserv",
 "'BorgWarner",
 "'Oneok",
 '"O\'Reilly Automotive',
 "'Assurant",
 "'Newell Brands",
 "'Public Service Enterprise Group",
 "'News Corp.",
 "'Calpine",
 "'Auto-Owners Insurance",
 "'Mohawk Industries",
 "'PVH",
 "'Campbell Soup",
 "'NRG Energy",
 "'Fifth Third Bancorp",
 "'Hertz Global Holdings",
 "'Altice USA",
 "'Newmont",
 "'Cheniere Energy",
 "'Advance Auto Parts",
 "'Lam Research",
 "'Owens & Minor",
 "'Equitable Holdings",
 "'Conagra Brands",
 "'Markel",
 "'Jones Financial (Edward Jones)",
 "'Hormel Foods",
 "'Hilton Worldwide Holdings",
 "'Univar Solutions",
 "'United Rentals",
 "'Pioneer Natural Resources",
 "'Delek US Holdings",
 "'Eastman Chemical",
 "'EMCOR Group",
 "'Avis Budget Group",
 "'J.B. Hunt Transport Services",
 "'Xerox Holdings",
 "'Wayfair",
 "'KKR",
 "'AGCO",
 "'Alleghany",
 "'Icahn Enterprises",
 "'Voya Financial",
 "'Ryder System",
 "'Air Products & Chemicals",
 "'Mosaic",
 "'Huntington Ingalls Industries",
 "'Berry Global Group",
 "'Anixter International",
 "'Alaska Air Group",
 "'Yum China Holdings",
 '"Dick\'s Sporting Goods',
 "'Caesars Holdings",
 "'Genworth Financial",
 "'Targa Resources",
 "'Coty",
 "'Dana",
 "'Thrivent Financial for Lutherans",
 "'Autoliv",
 "'SpartanNash",
 "'Eversource Energy",
 "'Darden Restaurants",
 "'Chesapeake Energy",
 "'NOV",
 "'Fidelity National Financial",
 "'Erie Insurance Group",
 "'Oshkosh",
 '"Casey\'s General Stores',
 "'WESCO International",
 "'Tractor Supply",
 "'CommScope Holding",
 "'Huntsman",
 "'American Financial Group",
 "'Masco",
 "'Sanmina",
 "'Amphenol",
 "'Williams",
 "'Westinghouse Air Brake",
 "'Expeditors Intl. of Washington",
 "'Andersons",
 "'Westlake Chemical",
 "'Constellation Brands",
 "'Frontier Communications",
 "'JetBlue Airways",
 "'Citizens Financial Group",
 "'Raymond James Financial",
 "'Foot Locker",
 "'Hershey",
 "'Zimmer Biomet Holdings",
 "'Cincinnati Financial",
 "'Western & Southern Financial Group",
 "'W.R. Berkley",
 "'Motorola Solutions",
 "'Thor Industries",
 "'Regeneron Pharmaceuticals",
 "'Spirit AeroSystems Holdings",
 "'J.M. Smucker",
 "'PPL",
 "'Insight Enterprises",
 "'Quest Diagnostics",
 "'KeyCorp",
 "'Veritiv",
 "'DCP Midstream",
 'American Tower',
 "'Graybar Electric",
 "'WEC Energy Group",
 "'NVR",
 "'Ulta Beauty",
 "'Devon Energy",
 "'Blackstone Group",
 "'Dean Foods",
 "'Fortive",
 "'Burlington Stores",
 "'Builders FirstSource",
 "'Toll Brothers",
 "'Old Republic International",
 "'Asbury Automotive Group",
 "'Arthur J. Gallagher",
 "'MasTec",
 "'Owens Corning",
 "'Magellan Health",
 "'Dover",
 "'Beacon Roofing Supply",
 "'Avery Dennison",
 "'Hanesbrands",
 "'Packaging Corp. of America",
 "'M&T Bank",
 "'NCR",
 "'Northern Trust",
 "'Cintas",
 "'Polaris",
 "'CMS Energy",
 "'Seaboard",
 "'Intuit",
 "'Regions Financial",
 "'FM Global",
 "'Advanced Micro Devices (AMD)",
 "'Ovintiv",
 "'Booz Allen Hamilton Holding",
 "'S&P Global",
 "'Rockwell Automation",
 "'O-I Glass",
 "'Wynn Resorts",
 "'Securian Financial Group",
 "'Alliance Data Systems",
 "'Weyerhaeuser",
 "'Brighthouse Financial",
 "'Intercontinental Exchange",
 "'American Axle & Manufacturing",
 "'Hess",
 "'ABM Industries",
 "'Activision Blizzard",
 "'GameStop",
 "'Apache",
 "'Science Applications International",
 "'AK Steel Holding",
 '"Dillard\'s',
 "'Ralph Lauren",
 "'Celanese",
 "'R.R. Donnelley & Sons",
 'Zoetis',
 "'Ascena Retail Group",
 "'Clorox",
 "'Ingredion",
 "'First American Financial",
 "'Graphic Packaging Holding",
 "'NetApp",
 "'HD Supply Holdings",
 "'TravelCenters of America",
 "'Olin",
 "'Robert Half International",
 "'EnLink Midstream",
 "'Avantor",
 "'Tapestry",
 "'TD Ameritrade Holding",
 "'Analog Devices",
 "'Ameren",
 "'Williams-Sonoma",
 "'Realogy Holdings",
 "'Commercial Metals",
 "'Rush Enterprises",
 "'Franklin Resources",
 "'Fortune Brands Home & Security",
 "'Levi Strauss",
 "'Crown Castle International",
 "'Simon Property Group",
 "'Cerner",
 "'Post Holdings",
 "'Huntington Bancshares",
 "'KBR",
 "'Sprouts Farmers Market",
 "'LPL Financial Holdings",
 "'T. Rowe Price",
 "'Yum Brands",
 "'Chipotle Mexican Grill",
 "'Patterson",
 "'RPM International",
 "'Equinix",
 "'Navient",
 "'Chemours",
 "'ON Semiconductor",
 "'TransDigm Group",
 "'Host Hotels & Resorts",
 "'Select Medical Holdings",
 "'Par Pacific Holdings",
 "'Sonoco Products",
 "'Roper Technologies",
 "'Harley-Davidson",
 "'Jefferies Financial Group",
 "'Kelly Services",
 "'Microchip Technology",
 "'McCormick",
 "'MDU Resources Group",
 "'Fastenal",
 "'Big Lots",
 "'Penn National Gaming",
 "'Western Union",
 "'Under Armour",
 "'Xylem",
 "'Skechers U.S.A.",
 "'Domtar",
 "'NiSource",
 "'Marathon Oil",
 'National General Holdings',
 "'Telephone & Data Systems",
 "'Agilent Technologies",
 "'Ametek",
 "'Evergy",
 "'International Flavors & Fragrances",
 "'ADT",
 "'Welltower",
 "'Windstream Holdings",
 "'Michaels",
 "'Kemper",
 "'Hyatt Hotels",
 "'Alexion Pharmaceuticals",
 "'Resideo Technologies",
 "'CACI International",
 "'Electronic Arts",
 "'Vulcan Materials",
 "'TreeHouse Foods",
 "'Global Payments",
 "'Hanover Insurance Group",
 "'Camping World Holdings",
 "'Cornerstone Building Brands",
 "'YRC Worldwide",
 "'CME Group",
 "'Chewy",
 "'Knight-Swift Transportation Holdings",
 '"Moody\'s',
 "'Coca-Cola Consolidated",
 "'Carlisle",
 "'Sealed Air",
 "'A-Mark Precious Metals",
 "'Watsco",
 "'Taylor Morrison Home",
 "'IAC/InterActiveCorp",
 "'Leggett & Platt",
 "'OneMain Holdings",
 "'Schneider National",
 "'Martin Marietta Materials",
 "'NortonLifeLock",
 "'Hasbro",
 "'Square",
 "'Terex",
 "'Syneos Health",
 "'FMC",
 "'Boise Cascade",
 "'Continental Resources",
 "'Peabody Energy",
 "'Encompass Health",
 'Greif',
 "'Concho Resources",
 "'Hubbell",
 "'CF Industries Holdings",
 "'KLA",
 "'Genesis Healthcare",
 "'Brunswick",
 "'KB Home",
 "'Globe Life",
 "'Mattel",
 "'Ryerson Holding",
 "'Silgan Holdings",
 "'Zebra Technologies",
 "'Intuitive Surgical",
 "'Warner Music Group",
 "'Conduent",
 "'Juniper Networks",
 "'Noble Energy",
 "'Vertiv Holdings",
 "'Tiffany",
 "'EQT",
 "'UFP Industries",
 "'Diebold Nixdorf",
 "'Antero Resources",
 "'Meritor",
 "'Broadridge Financial Solutions",
 "'Church & Dwight",
 "'Marriott Vacations Worldwide",
 "'Edwards Lifesciences",
 "'Colfax",
 "'Insperity",
 "'American Eagle Outfitters",
 "'Keysight Technologies",
 "'JELD-WEN Holding",
 "'Iron Mountain",
 "'Nasdaq",
 "'Gartner",
 "'Sinclair Broadcast Group",
 "'Ingles Markets",
 "'Monster Beverage",
 "'Murphy Oil",
 'Vertex Pharmaceuticals',
 "'First Republic Bank",
 '"Bloomin\' Brands',
 "'Spectrum Brands Holdings",
 "'Quad/Graphics",
 "'Flowers Foods",
 "'CUNA Mutual Group",
 "'Allegheny Technologies",
 "'Old Dominion Freight Line",
 "'Landstar System",
 "'American National Group",
 "'Snap-on",
 "'Brookdale Senior Living",
 "'Amkor Technology",
 "'Wyndham Destinations",
 'PPD',
 "'Dentsply Sirona",
 "'CNO Financial Group",
 "'Urban Outfitters",
 "'Sabre",
 "'Mercury General",
 "'Diamondback Energy",
 "'Parsons",
 '"Aaron\'s',
 "'Flowserve",
 "'Carvana",
 "'ASGN",
 "'Sally Beauty Holdings",
 "'ScanSource",
 "'Ventas",
 "'Country Financial",
 "'TriNet Group",
 "'Spirit Airlines",
 "'Comerica",
 "'Lennox International",
 "'Timken",
 "'Paychex",
 "'Amerco",
 "'Worthington Industries",
 "'Lamb Weston Holdings",
 "'Laureate Education",
 "'Penn Mutual Life Insurance",
 "'iHeartMedia",
 '"Brink\'s',
 "'Sentry Insurance Group",
 "'Acuity Brands",
 "'Hub Group",
 "'Meritage Homes",
 "'MRC Global",
 "'Alliant Energy",
 "'Workday",
 "'BMC Stock Holdings",
 "'Abercrombie & Fitch",
 '"Domino\'s Pizza',
 "'Lyft",
 "'Meredith",
 "'American Water Works",
 "'Albemarle",
 "'Ciena",
 "'Barnes & Noble",
 "'Weis Markets",
 "'Illumina",
 "'SVB Financial Group",
 '"Carter\'s',
 "'Stifel Financial",
 'Equifax',
 "'Kar Auction Services",
 "'Ashland Global Holdings",
 "'Medical Mutual of Ohio",
 "'Sprague Resources",
 "'Super Micro Computer",
 "'Designer Brands",
 "'Pitney Bowes",
 "'Applied Industrial Technologies",
 "'Pinnacle West Capital",
 "'American Equity Investment Life Holding",
 "'ServiceNow",
 "'Twitter",
 "'Calumet Specialty Products Partners",
 "'Steelcase",
 'Sanderson Farms',
 "'WABCO Holdings",
 "'Clean Harbors",
 "'Puget Energy",
 "'Scientific Games",
 "'Granite Construction",
 "'Carlyle Group",
 "'Skyworks Solutions",
 "'Aleris",
 "'Triple-S Management",
 "'Hexion",
 "'Hologic",
 "'Triumph Group",
 "'Darling Ingredients",
 "'MSC Industrial Direct",
 "'Red Hat",
 "'Synopsys",
 "'PolyOne",
 "'Dycom Industries",
 "'Cabot",
 "'Boyd Gaming",
 "'LSC Communications",
 "'Brown-Forman",
 "'Stericycle",
 "'CIT Group",
 "'MDC Holdings",
 "'Hyster-Yale Materials Handling",
 "'Crane",
 "'Cinemark Holdings",
 "'Autodesk",
 "'Trimble",
 "'Garrett Motion",
 "'Zions Bancorp.",
 "'Regal Beloit",
 "'Service Corp. International",
 "'Varian Medical Systems",
 "'PriceSmart",
 "'Brinker International",
 "'Digital Realty Trust",
 "'Pool",
 "'Crestwood Equity Partners",
 "'Infor",
 "'Plexus",
 "'Teledyne Technologies",
 "'G-III Apparel Group",
 "'Scotts Miracle-Gro",
 "'Apollo Global Management",
 "'E*Trade Financial",
 "'Toro",
 "'Southwest Gas Holdings",
 "'GMS",
 "'Cooper-Standard Holdings",
 "'Acadia Healthcare",
 "'Tetra Tech",
 "'Primoris Services",
 "'Tempur Sealy International",
 "'H&R Block",
 "'Qorvo",
 "'TRI Pointe Group",
 "'Cracker Barrel Old Country Store",
 "'Elanco Animal Health",
 "'First Solar",
 "'AMC Networks",
 "'Xilinx",
 "'Green Plains",
 "'Columbia Sportswear",
 "'Nexstar Media Group",
 "'Southwestern Energy",
 "'Greenbrier",
 "'Presidio",
 "'Citrix Systems",
 "'Mettler-Toledo International",
 "'Trinity Industries",
 "'Mutual of America Life Insurance",
 "'Lincoln Electric Holdings",
 "'Tailored Brands",
 "'A.O. Smith",
 "'ArcBest",
 "'GoDaddy",
 "'SkyWest",
 "'Boston Properties",
 "'Enable Midstream Partners",
 "'Middleby",
 "'NOW",
 "'Unisys",
 "'Visteon",
 "'Graham Holdings",
 "'Resolute Forest Products",
 "'Caleres",
 "'AGNC Investment",
 "'Hill-Rom Holdings",
 "'Moog",
 "'Legg Mason",
 "'Atmos Energy",
 "'Woodward",
 "'Palo Alto Networks",
 "'H.B. Fuller",
 "'Akamai Technologies",
 "'Avaya Holdings",
 "'Maximus",
 "'PerkinElmer",
 "'Hawaiian Electric Industries",
 "'Kansas City Southern",
 "'AptarGroup",
 "'Public Storage",
 "'Selective Insurance Group",
 "'ITT",
 "'Donaldson",
 "'Park Hotels & Resorts",
 "'Kirby",
 "'Hawaiian Holdings",
 "'Popular",
 "'Range Resources",
 "'PC Connection",
 "'Amica Mutual Insurance",
 "'EnerSys",
 "'Helmerich & Payne",
 "'NLV Financial",
 "'Valmont Industries",
 "'PAE",
 "'Cooper Tire & Rubber",
 "'Euronet Worldwide",
 "'Zillow Group",
 "'Atlas Air Worldwide Holdings",
 "'Energizer Holdings",
 "'Magellan Midstream Partners",
 "'Hain Celestial Group",
 "'Univision Communications",
 "'Equity Residential",
 "'Allison Transmission Holdings",
 "'Colony Capital",
 "'TTM Technologies",
 "'Clear Channel Outdoor Holdings",
 "'Guess",
 "'Rent-A-Center",
 "'Take-Two Interactive Software",
 "'Vishay Intertechnology",
 "'TransUnion",
 "'Cooper",
 "'FleetCor Technologies",
 "'RH",
 "'Renewable Energy Group",
 "'BlueLinx Holdings",
 "'California Resources",
 "'TopBuild",
 "'Charles River Laboratories International",
 "'Comfort Systems USA",
 "'Verisk Analytics",
 "'ResMed",
 "'Teleflex",
 "'New Jersey Resources",
 "'New Residential Investment",
 "'Interactive Brokers Group",
 "'Zayo Group Holdings",
 "'Herman Miller",
 "'Grocery Outlet Holding",
 "'J.Crew Group",
 "'Century Communities",
 "'Caesars Entertainment",
 "'Catalent",
 "'Itron",
 "'M/I Homes",
 "'Cboe Global Markets",
 "'IDEX",
 "'Belden",
 "'Curtiss-Wright",
 "'Cheesecake Factory",
 "'Genesis Energy",
 "'GEO Group",
 "'Patterson-UTI Energy",
 "'Werner Enterprises",
 "'Ingersoll Rand",
 "'Verso",
 "'Mueller Industries",
 "'Nu Skin Enterprises",
 "'Revlon",
 "'Arista Networks",
 "'IDEXX Laboratories",
 "'Align Technology",
 "'Waters",
 "'Synovus Financial",
 "'BrightView Holdings",
 "'REV Group",
 "'Brown & Brown",
 "'Valvoline",
 "'Knights of Columbus",
 "'Central Garden & Pet",
 "'Carpenter Technology",
 "'SLM",
 "'Kennametal",
 "'LCI Industries",
 "'TrueBlue",
 "'Cimarex Energy",
 "'Splunk",
 "'SiteOne Landscape Supply",
 "'Hexcel",
 "'FTI Consulting",
 "'Party City Holdco",
 "'Ohio National Mutual",
 "'Patrick Industries",
 "'Cadence Design Systems",
 "'CDK Global",
 "'AvalonBay Communities",
 "'Wabash National",
 "'Service Properties Trust",
 "'Maxim Integrated Products",
 '"People\'s United Financial',
 "'Bio-Rad Laboratories",
 "'Option Care Health",
 "'Louisiana-Pacific",
 "'TEGNA",
 "'Teradyne",
 "'Arch Resources",
 "'EPAM Systems",
 "'WPX Energy",
 "'Contura Energy",
 "'Ensign Group",
 "'First Horizon National",
 "'Wolverine World Wide",
 "'Vail Resorts",
 "'Benchmark Electronics",
 "'HNI",
 'F5 Networks',
 "'Affiliated Managers Group",
 "'OGE Energy",
 "'Universal",
 "'BOK Financial",
 "'ManTech International",
 "'Summit Materials",
 "'AMN Healthcare Services",
 "'Newmark Group",
 "'Fossil Group",
 "'Modine Manufacturing",
 "'Griffon",
 "'Cypress Semiconductor",
 "'Generac Holdings",
 "'Matson",
 "'Genesco",
 "'Nordson",
 "'NewMarket",
 "'Echo Global Logistics",
 "'Rexnord",
 "'Incyte",
 "'Fortinet",
 'Foundation Building Materials',
 "'AAR",
 "'Centric Brands",
 "'Edgewell Personal Care",
 "'Federated Mutual Insurance",
 "'Schnitzer Steel Industries",
 "'Portland General Electric",
 "'Gray Television",
 "'BGC Partners",
 "'EchoStar",
 "'Beazer Homes USA",
 "'LHC Group",
 "'ServiceMaster Global Holdings",
 "'Bruker",
 "'CrossAmerica Partners",
 "'MYR Group",
 "'Viasat",
 "'GNC Holdings",
 "'Cabot Oil & Gas",
 "'Bright Horizons Family Solutions",
 "'Vista Outdoor",
 "'HEICO",
 "'Wyndham Hotels & Resorts",
 "'TCF Financial",
 "'Primerica",
 "'ProPetro Holding",
 "'Oceaneering International",
 "'Floor & Decor Holdings",
 "'Copart",
 '"Chico\'s FAS',
 "'Barnes & Noble Education",
 "'Maxar Technologies",
 "'Evercore",
 "'Deckers Outdoor",
 "'Express",
 "'Hovnanian Enterprises",
 'Viasat',
 "'GNC Holdings",
 "'Cabot Oil & Gas",
 "'Bright Horizons Family Solutions",
 "'Vista Outdoor",
 "'HEICO",

In [775]:
df[0]=newcol2

In [777]:
df[0].head(25)

0                       Walmart
1                       'Amazon
2                  'Exxon Mobil
3                        'Apple
4                   'CVS Health
5           'Berkshire Hathaway
6           'UnitedHealth Group
7                     'McKesson
8                         'AT&T
9            'AmerisourceBergen
10                    'Alphabet
11                  'Ford Motor
12                       'Cigna
13            'Costco Wholesale
14                     'Chevron
15             'Cardinal Health
16              'JPMorgan Chase
17              'General Motors
18    'Walgreens Boots Alliance
19      'Verizon Communications
20                   'Microsoft
21          'Marathon Petroleum
22                      'Kroger
23                  'Fannie Mae
24             'Bank of America
Name: 0, dtype: object

In [782]:
df

                               0      1
0                        Walmart  63000
1                        'Amazon  65000
2                   'Exxon Mobil   5100
3                         'Apple  21000
4                    'CVS Health  21000
...                          ...    ...
1001           'Mr. Cooper Group    510
1002              'Herc Holdings    210
1003      'Healthpeak Properties     28
1004                   'SPX FLOW    175
1005  'Liberty Oilfield Services     77

[1006 rows x 2 columns]

In [785]:
df[0][1:].replace(r"^'", '', regex=True, inplace=True)

In [791]:
df[0].replace('"','',regex=True, inplace=True)

In [792]:
df[0]

0                         Walmart
1                          Amazon
2                     Exxon Mobil
3                           Apple
4                      CVS Health
                  ...
1001             Mr. Cooper Group
1002                Herc Holdings
1003        Healthpeak Properties
1004                     SPX FLOW
1005    Liberty Oilfield Services
Name: 0, Length: 1006, dtype: object

In [793]:
df

                              0      1
0                       Walmart  63000
1                        Amazon  65000
2                   Exxon Mobil   5100
3                         Apple  21000
4                    CVS Health  21000
...                         ...    ...
1001           Mr. Cooper Group    510
1002              Herc Holdings    210
1003      Healthpeak Properties     28
1004                   SPX FLOW    175
1005  Liberty Oilfield Services     77

[1006 rows x 2 columns]

In [794]:
df.to_csv('cleaned_reviews.csv')

In [386]:
# df[1]=df[1].str.findall('\'(\d+.*?\w)\W\W')